QWidget, QMainWindow, QMenuBar, QMenu, QDialog, QTabWidget, QTableView, QTableView::item, QScrollArea, QGroupBox, QPlainTextEdit, QLineEdit, QLabel, MainWindow
{
    /**/
}
QComboBox { /* default values */
	min-height: 30px;
	min-width: 100px;
}

QDialog QGroupBox QLabel#sendFrom { /* default values */
	margin-left: 25px;
}

QDialog QGroupBox QLabel#Addr1 { /* default values */
	margin-left: 25px;
}